<p/>salut</p>

<a id="homebtn1" class="btn btn-lg btn-success" href="/secretpage" style="width: 300px;"> on te dit tout !</a> 
<a id="homebtn1" class="btn btn-lg btn-info" href="/login" style="width: 300px;"> log toi fdp !</a> 
