<header>
    <nav class="navbar navbar-light" style="background-color: #aef88e; justify-content: space-around;">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/login">Log in FDP</a>
    </nav>
  </div>
</header>
